.container {
  text-align: center;
  font-family: serif;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #efefef;
  display: flex;
  justify-content: center;


}

time {
  margin-top: 30px;
}


.beforeWork{
   font-size: 25px;
   width: 150px;
   height: 150px;
   background-color: gray;
   transition: 0.8s;
   text-align: center;
   line-height: 150px;
   margin-left: auto;
   margin-right: auto;
   color: white;
   font-weight: bold;
 }

 .duringWork{
   font-size: 25px;
   width: 150px;
   height: 150px;
   border-radius: 50%;
   background-color: orange;
   transition: 0.8s;
   text-align: center;
   line-height: 150px;
   margin-left: auto;
   margin-right: auto;
   color: white;
   font-weight: bold;
   transform: rotate(360deg);
 }

 .workDone{
   font-size: 25px;
   width: 150px;
   height: 150px;
   border-radius: 50%;
   background-color: pink;
   transition: 0.8s;
   text-align: center;
   line-height: 150px;
   margin-left: auto;
   margin-right: auto;
   color: white;
   font-weight: bold;
 }

 .buttons{
   margin-top: 10px;
   display: flex;
   justify-content: center;
 }
